<div class="main-grid">
    <section class="bread-crumb" >
        <div class="flex bet middle">
            <div class="md:col-8 sm:col-12 p-0">
                <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
            </div>
            <div class="md:col-4 sm:col-0 p-0 flex gap-2 justify-content-end align-items-center dropdown-branch">
              <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId" (onChange)="changeBranch()" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
              <p-button label="Tìm kiếm" icon="pi pi-sliders-h" (click)="displayFilter = !displayFilter" styleClass="p-button-outlined p-button-rounded p-button-secondary"
                [style]="{'margin-right': '20px'}"></p-button>
            </div>
        </div>
    </section>
    <!-- this.organizeInfoService.setStocks(e.value); -->
    <p-divider type="solid"></p-divider>
    <div class="card ">
       <div class="table-default" #container>
        <app-list-grid-angular  *ngIf="!isLoading" [idGrid]="'my-table'" [isShowTotalBottom]="true"  [groupDefaultExpanded]="0" [columnsWithAggregation]="['revenue', 'customerName']"
        [listsData]="listDatas" [height]="heightGrid" [autoGroupColumnDef]="autoGroupColumnDef" [masterDetail]="true" (rowGroupOpenedCallback)="rowGroupOpenedCallback($event)"
        [columnDefs]="columnDefs" [getContextMenuItems]="getContextMenuItems" [getRowId]="getRowId"
        [detailCellRendererParams]="detailCellRendererParams"></app-list-grid-angular>
        <app-loading-grid *ngIf="isLoading" [cols]="cols" [lists]="20"></app-loading-grid>
        </div>
        </div>
</div>

<p-sidebar [(visible)]="displayFilter" (onHide)="displayFilter = false" position="right" styleclass="w-30rem">
    <ng-template pTemplate="header">
        <div class="flex grid justify-content-end">
            <button type="button" pButton pRipple icon="pi pi-search" label="Tìm kiếm" (click)="getLists(); displayFilter=false" class="p-button-secondary mr-1 p-button-sm"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-times" label="Làm mới" (click)="refresh(); displayFilter=false" class="p-button-danger p-button-sm"></button>   -->
        </div>
    </ng-template>
    <div class="p-fluid grid formgrid">
        <div class="field col-12 md:col-12">
            <label for="icon">Chi nhánh</label>
            <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId" (onChange)="changeBranch()" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
        </div>
        <div class="field col-12 md:col-12">
            <label for="dateformat">Từ ngày</label>
            <p-calendar placeholder="Từ ngày"
                panelStyleClass="datepicker-default-only-icon" placeholder="Từ ngày (YYYY-MM-DD)"
                [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.startDate"
                [monthNavigator]="true"
                [yearNavigator]="true" inputId="navigators" dateFormat="yy-mm-dd"
                name="startDate"></p-calendar>
        </div>

        <div class="field col-12 md:col-12">
            <label for="icon">Đến ngày</label>
            <p-calendar placeholder="Từ ngày"
            panelStyleClass="datepicker-default-only-icon" placeholder="Từ ngày (YYYY-MM-DD)"
            [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.endDate"
            [monthNavigator]="true"
            [yearNavigator]="true" inputId="navigators" dateFormat="yy-mm-dd"
            name="endDate"></p-calendar>
        </div>
    </div>
</p-sidebar>
