<div class="main-grid">
    <section class="bread-crumb" >
        <div class="flex bet middle">
            <div class="md:col-8 sm:col-12 p-0">
                <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
            </div>
        </div>
    </section>
    <section>
       <div class="grid">
            <div class="col-12">
                <h3>Công ty cổ phần công nghệ BigCV</h3>
                <p>Chuyên các giải pháp về bigdata và AI phục vụ cho Doanh nghiệp bán lẻ</p>
            </div>
       </div>
    </section>
</div>

