<p-table [value]="listDatasLoading" responsiveLayout="scroll"
 [columns]="cols"  [resizableColumns]="true"
  styleClass="table-row  p-datatable-sm" [resizableColumns]="true" *ngIf="isLoad">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{ col.header }}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-columns="columns">
    <tr [pSelectableRow]="product">
        <ng-container *ngFor="let col of columns">
            <td >
              <p-skeleton></p-skeleton> 
            </td>
        </ng-container>
    </tr>
</ng-template>
</p-table>
