<div class="fields p-top-right">
  <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId" (onChange)="changeBranch()" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
</div>
<div class="main-grid">
  <section class="bread-crumb" >
    <div class="flex bet middle">
      <div class="md:col-7 sm:col-12 p-0">
        <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
      </div>
      <div class="md:col-5 sm:col-0 p-0 flex justify-content-end align-items-center dropdown-branch">
<!--        <div class="fields mb-0 mr-4">-->
<!--          <p-dropdown [options]="ListUploadDates" [(ngModel)]="query.uploadDate" [autoDisplayFirst]="false"-->
<!--                      optionLabel="uploadDate" optionValue="uploadDate" (onChange)="changeDate()"-->
<!--                      [appendTo]="'body'" [filter]="true" filterBy="uploadDate"></p-dropdown>-->
<!--        </div>-->
      </div>
    </div>
  </section>
  <!-- this.organizeInfoService.setStocks(e.value); -->
  <p-divider type="solid"></p-divider>
  <div class="card">
    <div class="grid mt-1">
      <div class="col-12 md:col-12 lg:col-12 ">
        <div class="table-default">
          <app-list-grid-angular [idGrid]="'image-order'" *ngIf="columnDefs.length > 0" [isShowTotalBottom]="false"   (callbackGridReady)="onGridReady($event)"
                                 [columnsWithAggregation]="fieldsTotal" [rowClassRules]="rowClassRules"  [getRowId]="getRowId"
                                 [listsData]="contentItems" [height]="heightGrid" [heightRow]="50"
                                 [groupDisplayType]="groupDisplayType" [rowDragManaged]="true"  (callback)="getSelectedRows($event)"
                                 [columnDefs]="columnDefs" [getContextMenuItems]="getContextMenuItems" ></app-list-grid-angular>
          <div class="paginator">
                <span>
                    Từ {{ countRecord.currentRecordStart }} Đến
                  {{ countRecord.currentRecordEnd }}
                  Trên tổng số
                  {{ countRecord.totalRecord }} Kết quả</span>
            <p-paginator [rows]="query.size" [totalRecords]="countRecord.totalRecord" [dropdownAppendTo]="'body'" [first]="first" [styleClass]="'all_' + query.size"
                         (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,50,80,100]">
            </p-paginator>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>


<p-confirmDialog #cd [key]="'key-confirm'" [style]="{width: '50vw'}">

  <ng-template pTemplate="header">
    <h3>Đồng bộ - {{[ querySyncData?.syncCode ]}}</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid " style="margin-top: -20px">
      <div class="col-12 text-left line-height-3">
        <label for="icon" class="font-bold">Chi nhánh</label>
        <p-dropdown [options]="listBranchs" [(ngModel)]="querySyncData.branchId" styleClass="w-full"
                    [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId"
                    [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
      </div>
      <div class="col-12 text-left  line-height-3">
        <label class="font-bold" for="dateformat">Từ ngày <span style="color: red">*</span> <span style="font-weight: 400">(Bắt buộc)</span></label>
        <p-calendar placeholder="Từ ngày"
                    panelStyleClass="datepicker-default-only-icon"  placeholder="Từ ngày (YYYY-MM-DD)"
                    [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="querySyncData.startDate"
                    [monthNavigator]="true" styleClass="w-full"
                    [yearNavigator]="true" inputId="navigators" dateFormat="yy-mm-dd"
                    name="startDate"></p-calendar>
      </div>

      <div class=" col-12 text-left  line-height-3">
        <label class="font-bold" for="icon">Đến ngày <span style="color: red">*</span> <span style="font-weight: 400">(Bắt buộc)</span></label>
        <p-calendar placeholder="Từ ngày"
                    panelStyleClass="datepicker-default-only-icon" placeholder="Từ ngày (YYYY-MM-DD)"
                    [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="querySyncData.endDate"
                    [monthNavigator]="true" styleClass="w-full"
                    [yearNavigator]="true" inputId="navigators" dateFormat="yy-mm-dd"
                    name="endDate"></p-calendar>
      </div>
      <div class="mt-2  col-12">
        <button type="button" pButton [disabled]="!querySyncData.endDate || !querySyncData.startDate" icon="pi pi-check" label="Xác nhận" (click)="cd.accept()"></button>
        <button type="button" class="p-button-danger" pButton icon="pi pi-times" label="Đóng" (click)="cd.reject()"></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
