<div class="fields p-top-right">
  <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId" (onChange)="changeBranch()" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
</div>
<div class="main-grid">
  <section class="bread-crumb" >
    <div class="flex bet middle">
      <div class="md:col-7 sm:col-12 p-0">
        <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
      </div>
      <div class="md:col-5 sm:col-0 p-0 flex justify-content-end align-items-center dropdown-branch">
        <!--                <p-button label="Tìm kiếm" icon="pi pi-sliders-h" (click)="displayFilter = !displayFilter" styleClass="p-button-outlined p-button-rounded p-button-secondary"-->
        <!--                [style]="{'margin-right': '20px'}"></p-button>-->
        <div class="fields mb-0 mr-4">
          <!-- <label for="icon">Chọn nhà cung cấp</label>
          <p-dropdown [options]="products" [(ngModel)]="query.supplierName" [autoDisplayFirst]="false" optionLabel="supplierName" [editable]="true" [appendTo]="'body'" [filter]="true" filterBy="supplierName"></p-dropdown> -->
          <!--                <button type="button" (click)="editProductDetail()"-->
          <!--                        class="text-white bg-primary-500 border-primary-500 px-3 py-2  border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">-->
          <!--                  Chọn ảnh</button>-->

          <p-fileUpload  mode="basic"  [multiple]="true"
                        styleclass="text-white bg-primary-500 border-primary-500 px-3 py-2
                         border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600
                          active:bg-primary-700 active:border-primary-700"
                        *ngIf="isUploadFile" styleClass="p-button-secondary" chooseLabel="Chọn tệp..."
                        name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" (onSelect)="onUpload($event)"></p-fileUpload>
        </div>
      </div>
    </div>
  </section>
  <!-- this.organizeInfoService.setStocks(e.value); -->
  <p-divider type="solid"></p-divider>
  <div class="card">
    <div class="grid mt-1">
      <div class="col-12 md:col-12 lg:col-12 ">
        <div class="table-default">
          <app-list-grid-angular [idGrid]="'image-order'" [isShowTotalBottom]="true"   (callbackGridReady)="onGridReady($event)"
                                 [columnsWithAggregation]="fieldsTotal" [rowClassRules]="rowClassRules"
                                 [listsData]="contentItems" [height]="heightGrid" [heightRow]="80"
                                 [groupDisplayType]="groupDisplayType" [rowDragManaged]="true"  (callback)="getSelectedRows($event)"
                                 [columnDefs]="columnDefs" [getContextMenuItems]="getContextMenuItems" ></app-list-grid-angular>
        </div>
<!--          <div class="col md:col-12 lg:col-5 xl:col-4 gap-2 justify-content-start" style="display: flex;flex-direction: row;align-items: flex-end;">-->
<!--            <button type="button" pButton pRipple icon="pi pi-check" label="Lưu" *ngIf="contentItems.length > 0" (click)="saveProductOrder()" class="p-button-sm ml-1"></button>-->
<!--          </div>-->
        </div>

      </div>

    </div>
  </div>

  <p-sidebar [(visible)]="displayFilter" (onHide)="displayFilter = false" position="right" styleclass="w-30rem">
    <ng-template pTemplate="header">
      <div class="flex grid justify-content-end">
        <!-- <button type="button" pButton pRipple icon="pi pi-search" label="Tìm kiếm" (click)="find()" class="p-button-secondary mr-1 p-button-sm"></button>   -->
        <!-- <button type="button" pButton pRipple icon="pi pi-times" label="Làm mới" (click)="refresh(); displayFilter=false" class="p-button-danger p-button-sm"></button>   -->
      </div>
    </ng-template>
    <div class="p-fluid grid formgrid">
      <div class="field col-12 md:col-12">
        <label for="icon">Chi nhánh</label>
        <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId" (onChange)="changeBranch()" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
      </div>
      <div class="field col-12 md:col-12">
        <!-- <label for="icon">Chọn nhà cung cấp</label>
        <p-dropdown [options]="products" [(ngModel)]="query.supplierName" [autoDisplayFirst]="false" optionLabel="supplierName" [editable]="true" [appendTo]="'body'" [filter]="true" filterBy="supplierName"></p-dropdown> -->
        <button type="button" (click)="editProductDetail()" class="text-white bg-primary-500 border-primary-500 px-3 py-2  border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"> Lấy dữ liệu từ ảnh</button>
      </div>
    </div>
  </p-sidebar>
