:host ::ng-deep {
  *{
    margin: 0px;
    padding: 0px;
  }
}

.about-info{
    .log{
        width: auto;
    }
    img{
        width: 100%;
    }
    li{
        list-style: disc;
    }
    hr{
        margin-top: 50px;
        margin-bottom: 50px;
        border: none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.20);
    }
    .about-human{
        img{
            margin-bottom: 10px;
            width: 100%;
        }
        hr{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
.page {
    .slider{
        .slider-frame38{
          right: 100px;
          text-align: right;
          left: auto;
          align-items: flex-end;
          top: 50%;
          transform: translateY(-50%);
        }
    }
}
@media screen and (max-width: 600px) {
    .page{
        .slider{
            margin-bottom: 15px;
            .slider-frame38{
                right: 20px;
            }
        }
        .text-section {
            margin-bottom: 20px;
            &>div{
                width: 100%;
                ul{
                    padding-left: 20px;
                    padding-right: 20px;
                }
                &:first-child{
                    margin-bottom: 15px;
                }
            }
            hr{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

:host::ng-deep{
    @media screen and (max-width: 600px) {
        .p-galleria-item-container:before{
            background: #00000066;
            content: '';
            display: block;
            position: relative;
            z-index: 1;
        }
        .slider .slider-frame38{
            z-index: 2;
        }
    }
}