<div class="fields p-top-right">
  <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId" (onChange)="changeBranch()" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
</div>
<div class="main-grid">
  <section class="bread-crumb" >
    <div class="flex bet middle">
      <div class="md:col-7 sm:col-12 p-0">
        <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
      </div>
      <div class="md:col-5 sm:col-0 p-0 flex justify-content-end align-items-center dropdown-branch">
        <div class="fields mb-0 mr-4">
          <p-dropdown [options]="ListUploadDates" [(ngModel)]="query.uploadDate" [autoDisplayFirst]="false"
                      optionLabel="uploadDate" optionValue="uploadDate" (onChange)="changeDate()"
                      [appendTo]="'body'" [filter]="true" filterBy="uploadDate"></p-dropdown>
        </div>
      </div>
    </div>
  </section>
  <!-- this.organizeInfoService.setStocks(e.value); -->
  <p-divider type="solid"></p-divider>
  <div class="card">
    <div class="grid mt-1">
      <div class="col-12 md:col-12 lg:col-12 ">
        <div class="table-default">
          <app-list-grid-angular [idGrid]="'image-order'" [isShowTotalBottom]="false"   (callbackGridReady)="onGridReady($event)"
                                 [columnsWithAggregation]="fieldsTotal" [rowClassRules]="rowClassRules"
                                 [listsData]="contentItems" [height]="heightGrid" [heightRow]="50"
                                 [groupDisplayType]="groupDisplayType" [rowDragManaged]="true"  (callback)="getSelectedRows($event)"
                                 [columnDefs]="columnDefs" [getContextMenuItems]="getContextMenuItems" ></app-list-grid-angular>
        </div>

      </div>

    </div>

  </div>
</div>
